<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRlt7gIugQ9Hs726pgbfD6YRMcdmW4bRM</string>
	<key>GCM_SENDER_ID</key>
	<string>340869523603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmedalbasha.globalreparaturservice</string>
	<key>PROJECT_ID</key>
	<string>global-reparaturservice-21630</string>
	<key>STORAGE_BUCKET</key>
	<string>global-reparaturservice-21630.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340869523603:ios:54740b0cf5df7861eb8566</string>
</dict>
</plist>